<!-- views/partials/Footer.ejs -->

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
        rel="stylesheet">
</head>

<div class="footer-wrapper">
    <footer class="footer">
        <div class="container">
            <div class="row justify-content-between">
                <!-- About Section -->
                <div class="col-md-5">
                    <h5 class="footer-heading">CareAnywhere❤️‍🩹</h5>
                    <p class="footer-text">Your trusted healthcare companion, bringing medical services right to your
                        doorstep.</p>
                </div>

                <!-- Quick Links Section -->
                <div class="col-md-5">
                    <h5 class="footer-heading">Quick Links</h5>
                    <ul class="footer-links">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="/nearbyHospital"><i class="fas fa-hospital"></i> Nearby Hospitals</a></li>
                        <li><a href="/nearbyPharmacy"><i class="fas fa-pills"></i> Nearby Pharmacy</a></li>
                        <li><a href="/medConnect"><i class="fas fa-video"></i> Med-Connect</a></li>
                        <li><a href="/patientInfo"><i class="fas fa-file-medical"></i> Patient Records</a></li>
                    </ul>
                </div>
            </div>

            <!-- Copyright Section -->
            <div class="footer-bottom">
                <p class="copyright">© 2024 CareAnywhere. All rights reserved.</p>
            </div>
        </div>
    </footer>
</div>
</body>